QComboBox {
    font-size: 12px;
    height: 22px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 1px 3px;
    border: 1px solid rgb(181, 181, 181);
    background-color:rgb(181, 181, 181);
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

QComboBox::drop-down {
    background-color:rgb(77, 77, 77);
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

QComboBox::drop-down:disabled {
    color: rgb(112, 112, 112);
    background-color:rgb(89, 89, 89);
    border-radius: 5px;
}

QComboBox::down-arrow {
    image: url(data/img/gui/Arrow_DropDownMenu.png);
    width: 13px;
    height: 13px;
}

QComboBox::down-arrow:disabled {
    image: url(data/img/gui/Arrow_DropDownMenu.png);
    width: 13px;
    height: 13px;
    color: rgb(112, 112, 112);
    background-color:rgb(89, 89, 89);
}

QComboBox:disabled{
    color: rgb(130, 130, 130);
    background-color:rgb(96, 96, 96);
    border: 1px solid rgb(96, 96, 96);
}

QComboBox::down-arrow:disabled{
    color: rgb(130, 130, 130);
    background-color:rgb(96, 96, 96);
}

QComboBox::drop-down:disabled{
    color: rgb(130, 130, 130);
    background-color:rgb(96, 96, 96);
}

QComboBox QAbstractItemView{
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color:rgb(181, 181, 181);
    selection-background-color: rgb(255, 97, 0);
    selection-color: rgb(25, 25, 25);
    color:rgb(0, 0, 0);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0px;
    height: 300px;
}