.QWidget {
    background-color:rgb(103, 103, 103);
    color:rgb(255, 255, 255);
    font-family: 'Titillium Web';
    font-size: 12px;

}
/*
QWidget {
    border: 1px solid black;
}*/


.QLabel {
    font-family: 'Titillium Web';
    background-color:rgb(103, 103, 103);
    color:rgb(255, 255, 255);
    font-size: 12px;
}

QLabel#printer_settings_l {
    margin: 13px 0px 0px 26px;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    font-weight: bold;
}

QLabel#infillLabel, QLabel#supportLabel, QLabel#qualityLabel, QLabel#materialLabel, QLabel#brim_label {
    margin: 0px 0px 0px 26px;
    padding: 0px 0px 0px 0px;
    font-size: 12px;
}

QComboBox {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 1px 3px;
    font-size: 12px;
    height: 22px;
    background-color:rgb(77, 77, 77);
    border-radius: 5px;
    color:rgb(255, 255, 255);
}
/*
QComboBox#materialCombo, QComboBox#qualityCombo, QComboBox#supportCombo, QComboBox#combobox_scale_units {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 1px 3px;
    font-size: 12px;
    height: 22px;
    background-color:rgb(77, 77, 77);
    border-radius: 5px;
    color:rgb(255, 255, 255);
}*/

QComboBox#combobox_scale_units {
    background-color:rgb(132, 132, 132);
    color:rgb(255, 255, 255);
}


QComboBox:hover, QPushButton:hover {
    border: 1px solid rgb(255, 97, 0);
    color: rgb(255, 97, 0);
}

QComboBox:on {
}

QComboBox::drop-down {
    background-color:rgb(77, 77, 77);
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

QComboBox::down-arrow {
    image: url(data/Arrow_DropDownMenu.png);
    width: 13px;
    height: 13px;
}

QComboBox#materialCombo QAbstractItemView, QComboBox#qualityCombo QAbstractItemView, QComboBox#supportCombo QAbstractItemView {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 1px 0px;
    background-color:rgb(181, 181, 181);
    selection-background-color: rgb(255, 97, 0);
    selection-color: rgb(25, 25, 25);
    color:rgb(0, 0, 0);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0px;
}

QGroupBox#object_group_box, QGroupBox#gcode_group_box {
    color: rgb(255, 255, 255);
    margin: 8px 0px 0px 29px;
    padding: 20px 0px 0px 0px;
    width: 221px;
    border-radius: 5px;
    background-color:rgb(77, 77, 77);
    font-family: 'Titillium Web';
    font-size: 16px;
    font-weight: bold;
}

QGroupBox::title{
    background-color: transparent;
    padding: 3px 0 0 8px;
}

QLabel#x_pos_l, QLabel#y_pos_l, QLabel#z_pos_l, QLabel#x_rot_l, QLabel#y_rot_l, QLabel#z_rot_l,
QLabel#x_scale_l, QLabel#y_scale_l, QLabel#z_scale_l, QLabel#units_l, QLabel#lock_scale_axes_l,
QLabel#position_l, QLabel#rotation_l, QLabel#scale_l, QLabel#filename_label, QLabel#name_l
{
    background-color:rgb(77, 77, 77);
}


QLabel#place_on_zero_l, QLabel#position_l, QLabel#rotation_l, QLabel#scale_l{
    margin: 2px 0 0 0;
    background-color:rgb(77, 77, 77);
}

QSpinBox#edit_pos_x, QSpinBox#edit_rot_x, QSpinBox#edit_scale_x{
    margin: 10px 0 0 0;
}

QCheckBox#place_on_zero{
    margin: 2px 0 0 0;
}



QSlider#infillSlider{
    margin: 0px 10px 0px 0px;
}

QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSlider::groove:vertical {
    background: red;
    position: absolute; /* absolutely position 4px from the left and right of the widget. setting margins on the widget should work too... */
    left: 4px; right: 4px;
}

QSlider::handle:vertical {
    height: 10px;
    background: green;
    margin: 0 -4px; /* expand outside the groove */
}

QSlider::add-page:vertical {
    background: white;
}

QSlider::sub-page:vertical {
    background: pink;
}

QPushButton#generateButton, QPushButton#gcode_back_b {
    font-family: 'Titillium Web';
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    background-color:rgb(255, 97, 0);
    padding-left: 0px;
    margin: 0px 10px 0px 30px;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    text-align:center;
}

QProgressBar {
    font-family: 'Titillium Web';
    font-size: 12px;
    height: 27px;
    margin: 0px 10px 0px 30px;
    border-radius: 5px;
    background-color: rgb(132, 132, 132);
    color:rgb(255, 255, 255);
    text-align: center;
}

QProgressBar::chunk {
    background-color: rgb(255, 97, 0);
    width: 20px;
}





QSpinBox {
    padding-right: 15px; /* make room for the arrows */
    border-image: url(:/images/frame.png) 4;
    border-width: 3px;
}

QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */

    width: 16px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    border-image: url(:/images/spinup.png) 1;
    border-width: 1px;
}

QSpinBox::up-button:hover {
    border-image: url(:/images/spinup_hover.png) 1;
}

QSpinBox::up-button:pressed {
    border-image: url(:/images/spinup_pressed.png) 1;
}

QSpinBox::up-arrow {
    image: url(:/images/up_arrow.png);
    width: 7px;
    height: 7px;
}

QSpinBox::up-arrow:disabled, QSpinBox::up-arrow:off { /* off state when value is max */
   image: url(:/images/up_arrow_disabled.png);
}

QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at bottom right corner */

    width: 16px;
    border-image: url(:/images/spindown.png) 1;
    border-width: 1px;
    border-top-width: 0;
}

QSpinBox::down-button:hover {
    border-image: url(:/images/spindown_hover.png) 1;
}

QSpinBox::down-button:pressed {
    border-image: url(:/images/spindown_pressed.png) 1;
}

QSpinBox::down-arrow {
    image: url(:/images/down_arrow.png);
    width: 7px;
    height: 7px;
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off { /* off state when value in min */
   image: url(:/images/down_arrow_disabled.png);
}


QCheckBox {
    spacing: 5px;
    font-size: 12px;
}

QCheckBox::indicator {
    width: 42px;
    height: 17px;
}

QCheckBox::indicator:unchecked {
    image: url(data/img/gui/checkbox_Off.png);
}

QCheckBox::indicator:unchecked:hover {
    image: url(data/img/gui/checkbox_Off.png);
}

QCheckBox::indicator:unchecked:pressed {
    image: url(data/img/gui/checkbox_Off.png);
}

QCheckBox::indicator:checked {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:checked:hover {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:checked:pressed {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:indeterminate:hover {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:indeterminate:pressed {
    image: url(data/img/gui/checkbox_On.png);
}
