.QWidget {
    background-color:rgb(103, 103, 103);
    color:rgb(255, 255, 255);
    font-family: 'Titillium Web';
    font-size: 12px;

}

/*
QWidget {
    border: 1px solid black;
}*/


.QLabel {
    font-family: 'Titillium Web';
    background-color:rgb(103, 103, 103);
    color:rgb(255, 255, 255);
    font-size: 12px;
}

QLabel#printer_settings_l {
    margin: 13px 0px 0px 26px;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    font-weight: bold;
}

QLabel#infillLabel, QLabel#supportLabel, QLabel#qualityLabel, QLabel#materialLabel, QLabel#brim_label {
    margin: 0px 0px 0px 26px;
    padding: 0px 0px 0px 0px;
    font-size: 12px;
}

QComboBox {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 1px 3px;
    font-size: 12px;
    height: 22px;
    background-color:rgb(77, 77, 77);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;
    color:rgb(255, 255, 255);
}

QComboBox#combobox_scale_units, QComboBox#gcode_display_units_cb {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 1px 3px;
    font-size: 12px;
    height: 22px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;

    background-color:rgb(181, 181, 181);
    color:rgb(255, 255, 255);
}



QComboBox#combobox_scale_units::down-arrow, QComboBox#gcode_display_units_cb::down-arrow{
    background-color:rgb(181, 181, 181);
    color:rgb(255, 255, 255);
    image: url(data/img/gui/Arrow_DropDownMenu_bright.png);
    width: 13px;
    height: 13px;
}

QComboBox#combobox_scale_units::down-arrow:disabled {
   color: rgb(112, 112, 112);
    background-color:rgb(96, 96, 96);
    image: url(data/img/gui/Arrow_DropDownMenu_bright.png);
    width: 13px;
    height: 13px;
}

QComboBox#combobox_scale_units::drop-down, QComboBox#gcode_display_units_cb::drop-down {
    background-color:rgb(181, 181, 181);
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

QComboBox#combobox_scale_units QAbstractItemView, QComboBox#gcode_display_units_cb QAbstractItemView{
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color:rgb(181, 181, 181);
    selection-background-color: rgb(255, 97, 0);
    selection-color: rgb(25, 25, 25);
    color:rgb(0, 0, 0);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0px;
}

QComboBox#combobox_scale_units::drop-down:disabled {
    color: rgb(112, 112, 112);
    background-color:rgb(96, 96, 96);
    border-radius: 5px;
}

QComboBox#combobox_scale_units:disabled{
    color: rgb(112, 112, 112);
    background-color:rgb(96, 96, 96);
    border: 1px solid rgb(96, 96, 96);
}


QComboBox:hover, QPushButton:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

QComboBox:on {
}

QComboBox::drop-down {
    background-color:rgb(77, 77, 77);
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

QComboBox::down-arrow {
    image: url(data/img/gui/Arrow_DropDownMenu.png);
    width: 13px;
    height: 13px;
}

QComboBox#materialCombo QAbstractItemView, QComboBox#qualityCombo QAbstractItemView,
QComboBox#supportCombo QAbstractItemView {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color:rgb(181, 181, 181);
    selection-background-color: rgb(255, 97, 0);
    selection-color: rgb(25, 25, 25);
    color:rgb(0, 0, 0);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0px;
}

QGroupBox#object_group_box, QGroupBox#gcode_group_box {
    color: rgb(255, 255, 255);
    margin: 8px 0px 0px 29px;
    padding: 20px 0px 0px 0px;
    width: 221px;
    border-radius: 5px;
    background-color:rgb(77, 77, 77);
    font-family: 'Titillium Web';
    font-size: 16px;
    font-weight: bold;
}

QGroupBox#object_group_box:disabled, QGroupBox#gcode_group_box:disabled {
    color: rgb(112, 112, 112);
    background-color:rgb(89, 89, 89);
}

QLabel#x_pos_l:disabled, QLabel#y_pos_l:disabled, QLabel#z_pos_l:disabled, QLabel#x_rot_l:disabled,
QLabel#y_rot_l:disabled, QLabel#z_rot_l:disabled, QLabel#x_scale_l:disabled, QLabel#y_scale_l:disabled,
QLabel#z_scale_l:disabled, QLabel#units_l:disabled, QLabel#lock_scale_axes_l:disabled, QLabel#position_l:disabled,
QLabel#rotation_l:disabled, QLabel#scale_l:disabled, QLabel#filename_label:disabled, QLabel#name_l:disabled,
QLabel#place_on_zero_l:disabled, QLabel#gcode_display_units_l:disabled, QLabel#gcode_slider_min_l:disabled,
QLabel#gcode_slider_max_l:disabled {
    color: rgb(112, 112, 112);
    background-color:rgb(89, 89, 89);
}

QGroupBox::title{
    background-color: transparent;
    padding: 3px 0 0 8px;
}

QLabel#x_pos_l, QLabel#y_pos_l, QLabel#z_pos_l, QLabel#x_rot_l, QLabel#y_rot_l, QLabel#z_rot_l,
QLabel#x_scale_l, QLabel#y_scale_l, QLabel#z_scale_l, QLabel#units_l, QLabel#lock_scale_axes_l,
QLabel#position_l, QLabel#rotation_l, QLabel#scale_l, QLabel#filename_label, QLabel#name_l,
QLabel#place_on_zero_l, QLabel#position_l, QLabel#rotation_l, QLabel#scale_l, QLabel#gcode_display_units_l,
QLabel#gcode_slider_min_l, QLabel#gcode_slider_max_l
{
    background-color:rgb(77, 77, 77);
}

/*
QLabel#place_on_zero_l, QLabel#position_l, QLabel#rotation_l, QLabel#scale_l{
    margin: 0px 0 0 0;
    background-color:rgb(77, 77, 77);
}*/
/*
QSpinBox#edit_pos_x, QSpinBox#edit_rot_x, QSpinBox#edit_scale_x{
    margin: 10px 0 0 0;
}*/

/*
QCheckBox#place_on_zero{
    margin: 2px 0 0 0;
}*/

QGLWidget{
    font-family: 'Titillium Web';
    font-weight: bold;
    font-size: 18px;
}


QSlider#infillSlider{
    margin: 0px 10px 0px 0px;
}

QSlider::groove:horizontal {
    border-image: url(data/img/gui/slider_path.png) 0 0 0 0 stretch stretch;
    background-color: transparent;
    height: 17px;
    width: 145px;
}

QSlider::groove:vertical {
    border-image: url(data/img/gui/slider_path_vert.png) 0 0 0 0 stretch stretch;
    background-color: transparent;
    /*
    height: 500px;
    */
    width: 17px;
}

QSlider::handle {
    image: url(data/img/gui/slider_knob.png);
    background-color: transparent;
    width: 17px;
    height: 17px;
}

/*
QSlider::groove:vertical {
    background: red;
    left: 4px; right: 4px;
}

QSlider::handle:vertical {
    height: 10px;
    background: green;
    margin: 0 -4px;
}

QSlider::add-page:vertical {
    background: white;
}

QSlider::sub-page:vertical {
    background: pink;
}*/

QPushButton#generateButton, QPushButton#gcode_back_b {
    font-family: 'Titillium Web';
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    background-color:rgb(255, 97, 0);
    padding-left: 0px;
    margin: 0px 10px 0px 30px;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    text-align:center;
}

QPushButton#generateButton:disabled{
    background-color: rgb(132, 132, 132);
    color: rgb(112, 112, 112);
}


QProgressBar {
    font-family: 'Titillium Web';
    font-size: 12px;
    height: 27px;
    margin: 0px 10px 0px 30px;
    border-radius: 5px;
    background-color: rgb(132, 132, 132);
    color:rgb(255, 255, 255);
    text-align: center;
}

QProgressBar::chunk {
    background-color: rgb(255, 97, 0);
    width: 20px;
}

QSpinBox, QDoubleSpinBox {
    font-family: 'Titillium Web';
    font-size: 12px;
    height: 22px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color:rgb(181, 181, 181);
    padding-right: 15px;
}

QSpinBox:disabled, QDoubleSpinBox:disabled {
    color: rgb(112, 112, 112);
    background-color:rgb(96, 96, 96);
}

QSpinBox::up-button, QDoubleSpinBox::up-button{
    image: url(data/img/gui/Arrow_Up_ObjectAdjust_OFF.png);
}

QSpinBox::up-button:hover, QDoubleSpinBox::up-button:hover{
    image: url(data/img/gui/Arrow_Up_ObjectAdjust_Hover.png);
}

QSpinBox::up-button:pressed, QDoubleSpinBox::up-button:pressed{
    image: url(data/img/gui/Arrow_Up_ObjectAdjust_ON.png);
}

QSpinBox::down-button, QDoubleSpinBox::down-button{
    image: url(data/img/gui/Arrow_Down_ObjectAdjust_OFF.png);
}

QSpinBox::down-button:hover, QDoubleSpinBox::down-button:hover{
    image: url(data/img/gui/Arrow_Down_ObjectAdjust_Hover.png);
}

QSpinBox::down-button:pressed, QDoubleSpinBox::down-button:pressed{
    image: url(data/img/gui/Arrow_Down_ObjectAdjust_ON.png);
}





/*
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;

    width: 16px;
    border-image: url(data/img/gui/Arrow_DropDownMenu.png);
    border-width: 1px;
}

QSpinBox::up-button:hover {
    border-image: url(data/img/gui/Arrow_DropDownMenu.png);
}

QSpinBox::up-button:pressed {
    border-image: url(data/img/gui/Arrow_DropDownMenu.png);
}

QSpinBox::up-arrow {
    image: url(data/img/gui/Arrow_DropDownMenu.png);
    width: 7px;
    height: 7px;
}

QSpinBox::up-arrow:disabled, QSpinBox::up-arrow:off {
   image: url(data/img/gui/Arrow_DropDownMenu.png);
}

QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;

    width: 16px;
    border-image: url(data/img/gui/Arrow_DropDownMenu.png);
    border-width: 1px;
    border-top-width: 0;
}

QSpinBox::down-button:hover {
    border-image: url(data/img/gui/Arrow_DropDownMenu.png);
}

QSpinBox::down-button:pressed {
    border-image: url(data/img/gui/Arrow_DropDownMenu.png);
}

QSpinBox::down-arrow {
    image: url(data/img/gui/Arrow_DropDownMenu.png);
    width: 7px;
    height: 7px;
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off {
   image: url(data/img/gui/Arrow_DropDownMenu.png);
}*/


QCheckBox {
    spacing: 5px;
    font-size: 12px;
}

QCheckBox::indicator {
    width: 42px;
    height: 17px;
}

QCheckBox#brimCheckBox::indicator:unchecked {
    image: url(data/img/gui/checkbox_dark_Off.png);
}

QCheckBox::indicator:unchecked {
    image: url(data/img/gui/checkbox_Off.png);
    color: rgb(0,0,0);
}

QCheckBox::indicator:checked {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:checked:disabled {
    image: url(data/img/gui/Disable_checkbox_On.png);
    color: rgb(0,0,0);
}

QCheckBox::indicator:unchecked:disabled {
    image: url(data/img/gui/Disable_checkbox_Off.png);
    color: rgb(0,0,0);
}




/*
QCheckBox::indicator:unchecked {
    image: url(data/img/gui/checkbox_Off.png);
}

QCheckBox::indicator:unchecked:hover {
    image: url(data/img/gui/checkbox_Off.png);
}

QCheckBox::indicator:unchecked:pressed {
    image: url(data/img/gui/checkbox_Off.png);
}*/



/*
QCheckBox#brimCheckBox::indicator:unchecked:hover {
    image: url(data/img/gui/checkbox_dark_Off.png);
}*/
/*
QCheckBox#brimCheckBox::indicator:unchecked:pressed {
    image: url(data/img/gui/checkbox_dark_Off.png);
}*/




/*
QCheckBox::indicator:checked:hover {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:checked:pressed {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:indeterminate:hover {
    image: url(data/img/gui/checkbox_On.png);
}

QCheckBox::indicator:indeterminate:pressed {
    image: url(data/img/gui/checkbox_On.png);
}*/
